.logo-sm {
  width: 20px;
  height: 20px;
}

.logo-md {
  width: 40px;
  height: 40px;
}

.logo-lg {
  width: 60px;
  height: 60px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "josefin";
}

@font-face {
  font-family: "josefin";
  src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
.shadow-drop-2-tb:hover {
  -webkit-animation: shadow-drop-2-tb 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-tb 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-2-tb {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-tb {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
.fade-in-fwd {
  -webkit-animation: fade-in-fwd 1.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 1.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
.slide-fwd-center:hover {
  -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
h1 {
  font-family: "josefin";
  font-size: 3rem;
  padding-top: 1.25rem;
  padding-bottom: 0.75rem;
  text-align: center;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

h2 {
  font-family: "josefin";
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-family: "josefin";
  font-size: 1.5rem;
  text-align: center;
}

.container-fluid {
  padding-left: 7%;
  padding-right: 7%;
  margin-top: 1.5rem;
}

.bg-body-tertiary {
  background-color: aquamarine;
}

.border {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p--centered {
  justify-content: center;
  align-items: center;
}

p {
  font-family: "josefin";
  font-size: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.service--position {
  align-items: center;
}

.align--serv1 {
  text-align: left;
  margin-top: 0.75rem;
}
.align--serv2 {
  text-align: right;
  margin-top: 0.75rem;
}

.card {
  background-color: rgba(0, 255, 255, 0.0588235294);
}

iframe {
  width: 100%;
  height: 341px;
}

.stars {
  font-size: 1.5rem;
}

.logo {
  width: 75px;
  height: 75px;
}

.nav {
  font-family: "josefin";
  background-color: rgba(0, 255, 255, 0.1960784314);
  padding-top: 0.5rem;
}
.nav--margins {
  margin-top: 0px;
}
.nav-link-color {
  color: #004848;
}
.nav-link {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.nav-title {
  margin-bottom: 0px;
}
.nav--margins {
  margin-top: 0px;
}

.navbar {
  padding-top: 0rem;
  padding-bottom: 0rem;
  position: sticky;
}
.navbar-brand {
  margin-right: 0px;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler:hover {
  box-shadow: none;
  background-color: rgba(128, 128, 128, 0.3450980392);
}

.offcanvas {
  --bs-offcanvas-width: 25%;
}
.offcanvas-header {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgba(0, 255, 255, 0.0588235294);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.offcanvas-body {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgba(0, 255, 255, 0.0588235294);
  padding-top: 0px;
}

.dropdown-item.active {
  background-color: #f8f9fa;
  color: #212529;
}
.dropdown-menu.show {
  background-color: transparent;
  border: none;
  padding-top: 0rem;
  padding-bottom: 0.25rem;
}

.active {
  text-decoration: underline;
}
.active--dropdown {
  text-decoration: none;
}

.btn {
  color: #004848;
  background-color: transparent;
  border-color: #004848;
  font-family: "josefin";
  border-width: 2px;
}
.btn:hover {
  color: #0d6efd;
  background-color: rgba(0, 255, 255, 0.0588235294);
  border-color: #0d6efd;
  border-width: 2px;
}
.btn-outline-primary {
  background-color: transparent;
  border-color: #004848;
  font-family: "josefin";
  text-align: center;
}
.btn--home {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

form {
  font-family: "josefin";
  text-align: center;
  justify-content: center;
}

.form-control:focus {
  font-family: "josefin";
  box-shadow: 0 0 0 0.1rem #0d6efd;
}

.map {
  justify-content: center;
}

.floatingInput {
  font-family: "josefin";
}

.modal-footer {
  justify-content: center;
}
.modal-header {
  align-self: center;
}

footer {
  margin-top: 1.5rem;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  .nav-title {
    font-size: 28px;
  }
  .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .offcanvas {
    --bs-offcanvas-width: 100%;
  }
  .btn-close {
    width: 2px;
    height: 2px;
  }
  .offcanvas-header {
    padding-top: 1rem;
    padding-bottom: 0.75rem;
  }
  .offcanvas-body {
    padding-top: 0rem;
  }
  .dropdown-menu {
    margin-top: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .dropdown-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .imgshow--desktop {
    display: none;
  }
  .img-fluid {
    max-width: 80%;
    max-height: 80%;
    margin-bottom: 0.75rem;
  }
  .align--serv1 {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .align--serv2 {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 480px) and (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  .btn-close {
    width: 2px;
    height: 2px;
  }
  .offcanvas {
    --bs-offcanvas-width: 75%;
  }
  .offcanvas-header {
    padding-top: 1rem;
    padding-bottom: 0.75rem;
  }
  .offcanvas-body {
    padding-top: 0rem;
  }
  .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .dropdown-menu {
    margin-top: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .dropdown-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .img-fluid {
    max-width: 80%;
    max-height: 80%;
    margin-bottom: 0.75rem;
  }
  .imgshow--desktop {
    display: none;
  }
  .align--serv1 {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .align--serv2 {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
  }
  .offcanvas {
    --bs-offcanvas-width: 50%;
  }
  .offcanvas-header {
    padding-top: 1rem;
    padding-bottom: 0.75rem;
  }
  .offcanvas-body {
    padding-top: 0rem;
  }
  .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .dropdown-menu {
    margin-top: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .dropdown-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .img-fluid {
    max-width: 80%;
    max-height: 80%;
  }
  .imgshow--desktop {
    display: none;
  }
  .align--serv1 {
    text-align: center;
  }
  .align--serv2 {
    text-align: center;
  }
}
@media (min-width: 769px) {
  .imgshow--mobile {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
