//Fonts
$font-main: "josefin";

//BG olors
$dark-bg:#00ffff0f;
$light-bg: aquamarine;
$nav-bg: #00ffff32;
$nav-active-bg: #f8f9fa;
$burger-bg: #80808058;

//Pseudo-Elements Colors
$nav-active-col:#212529;
$btn-hover: #0d6efd;
$form-focus: #0d6efd;

//Call to actions
$cta: #004848;








