//MediaQueries
//Folding menu with width<480*
@media (max-width: 480px){
    h1 {
        font-size: 2.5rem;
        @include padding-tb(0.75rem,0.5rem);
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }
    .nav {
        &-title {
            font-size: 28px;
         }
         &-link {
            @include padding-tb(1rem,1rem);
        }
    }
    .offcanvas {
         --bs-offcanvas-width: 100%;
     }
    .btn-close {
        @include size-wh (2px,2px);
    }
    .offcanvas {
        &-header {
            @include padding-tb(1rem,0.75rem);
        }
        &-body {
            padding-top: 0rem;
        }
    }
    .dropdown {
        &-menu {
            margin-top: 0rem;
            @include padding-tb(0rem,0rem);
        }
        &-item {
            @include padding-tb(01rem,1rem);
        }
    }
    .img {
        &show--desktop {
            display: none;
        }
        &-fluid{
            @include img-limits;
            margin-bottom: 0.75rem;
        }
    }
    .align {
        &--serv1{
            @include align-margins(center,0rem,0rem);
        }
        &--serv2{
            @include align-margins(center,0rem,0rem);
        }
    }
    .logo {
        @include size-wh (50px,50px);
     }
}
//Folding menu with 480<width<600*
@media (min-width: 480px) and (max-width: 600px){
    h1 {
        font-size: 2.5rem;
        @include padding-tb(0.75rem,0.5rem);
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    .btn-close{
        @include size-wh (2px,2px);
    }
    .offcanvas {
        --bs-offcanvas-width: 75%;
        &-header {
            @include padding-tb(1rem,0.75rem);
        }
        &-body {
            padding-top: 0rem;
        }
    }
    .nav-link {
        @include padding-tb(1rem,1rem);
    }
    .dropdown {
        &-menu {
            margin-top: 0rem;
            @include padding-tb(0rem,0rem);
        }
        &-item {
            @include padding-tb(1rem,1rem);
        }
    }
    .img {
        &-fluid {
            @include max-wh;
            margin-bottom: 0.75rem;
        }
        &show--desktop {
            display: none;
        }
    }
    .align {
        &--serv1 {
            @include align-margins(center,0rem,0rem);
        }
        &--serv2 {
            @include align-margins(center,0rem,0rem);
        }
    }
}
//Folding menu with 601<width<768
@media (min-width:601px) and (max-width:768px){
    h1 {
        font-size: 2.5rem;
        @include padding-tb(0.75rem,0.5rem);
    }
    .offcanvas {
        --bs-offcanvas-width: 50%;
        &-header {
            @include padding-tb(1rem,0.75rem);
        }
        &-body {
            padding-top: 0rem;
        }
    }
    .nav-link {
        @include padding-tb(1rem,1rem);
    }
    .dropdown {
        &-menu {
            margin-top: 0rem;
            @include padding-tb(0rem,0rem);
        }
        &-item {
            @include padding-tb(1rem,1rem);
        }
    }
    .img {
        &-fluid {
            @include max-wh;
        }
        &show--desktop {
            display:none;
        }
    }
    .align {
        &--serv1{
            text-align: center;
        }
        &--serv2{
            text-align: center;
        }
    }
}
//Folding menu with 768<width
@media (min-width:769px){
    .imgshow--mobile {
        display: none;
    }
}